# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Docker files
docker-compose.yml
Dockerfile

# Data files
data/
logs/
*.h5
*.csv
*.json
*.xml

# Model checkpoints and training logs
checkpoints/
*.ckpt
*.pth
*.pt

# TensorBoard and WandB logs
logs/
runs/
wandb/

# PyTest cache
.pytest_cache/

# Jupyter Notebook output
*.ipynb

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Caches
*.pkl
*.pickle

# Experiments
results/

# Data
dataJHMDB/
dataPosetrack18/
dataPosetrack21/
data/

#config
configs/bestJHMDB/
configs/bestposetrack18/
configs/bestposetrack21/



# out files
*.out
*.txt

# ghost file
ghost.py
train_pretrained.py
process_kill.py
val_att_weights.py
main.py

#notebook folder
# Ignore the entire notebook folder and its contents
notebook/**

# Ensure the folder itself is included so Git can look inside it
!notebook/

# Include specific files from the notebook folder
!notebook/add_crown.py
!notebook/separate_json.py

HiEveDataset/

# Ignore everything in the models folder and its subdirectories
models/**

# Allow the models folder itself so Git can check inside it
!models/

# Allow specific subdirectories and files within the models folder
!models/best/
!models/vitpose/
!models/__init__.py
!models/schema_model.png
!models/schema_model.pdf


models/model_tmp

models/best/PoseidonHeatMapVitPoseAttention12_vith_dropout_best_no_multi_fusion.py
models/best/PoseidonHeatMapVitPoseAttention12_vith_dropout_best_no_adaptive.py

utils/utils_requests.py
train_copy.py


PROVA/