# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Docker files
docker-compose.yml
Dockerfile

# Data files
data/
logs/
*.h5
*.csv
*.json
*.xml

# Model checkpoints and training logs
checkpoints/
*.ckpt
*.pth
*.pt

# TensorBoard and WandB logs
logs/
runs/
wandb/

# PyTest cache
.pytest_cache/

# Jupyter Notebook output
*.ipynb

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Caches
*.pkl
*.pickle

# Experiments
results/

# Data
dataJHMDB/
dataPosetrack18/
dataPosetrack21/
data/

#config
configs/bestJHMDB/
configs/bestposetrack18/
configs/bestposetrack21/


#mmpose
mmpose/


# out files
*.out
*.txt

# ghost file
ghost.py
train_pretrained.py
process_kill.py
val_att_weights.py
main.py

#notebook folder
notebook/
!notebook/add_crown.py
!notebook/separate_json.py

HiEveDataset/
models/models_tmp/

/home/pace/Poseidon/models/model_tmp/

/home/pace/Poseidon/models/best/PoseidonHeatMapVitPoseAttention12_vith_dropout_best_no_multi_fusion.py
/home/pace/Poseidon/models/best/PoseidonHeatMapVitPoseAttention12_vith_dropout_best_no_adaptive.py